
*.ini
*.bak
*.pyc
sccs/PEuler/AFRY_Ad10.py
sccs/PEuler/AFRY_Ad10.txt
sccs/PEuler/AFRY_Ad11.py
sccs/PEuler/AFRY_Adv1.py
sccs/PEuler/AFRY_Adv11-a.txt
sccs/PEuler/AFRY_Adv2.py
sccs/PEuler/AFRY_Adv2.txt
sccs/PEuler/AFRY_Adv3-t.txt
sccs/PEuler/AFRY_Adv3.py
sccs/PEuler/AFRY_Adv3.txt
sccs/PEuler/AFRY_Adv4.py
sccs/PEuler/AFRY_Adv4.txt
sccs/PEuler/AFRY_Adv5-out.txt
sccs/PEuler/AFRY_Adv5.py
sccs/PEuler/AFRY_Adv5.txt
sccs/PEuler/AFRY_Adv6.py
sccs/PEuler/AFRY_Adv6.txt
sccs/PEuler/AFRY_Adv7.py
sccs/PEuler/AFRY_Adv7.txt
sccs/PEuler/AFRY_Adv8.py
sccs/PEuler/AFRY_Adv8.txt
sccs/PEuler/AFRY_Adv9.py
sccs/PEuler/AFRY_Adv9.txt
sccs/PEuler/AFRY_AdvMal.py
