
<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="rapport.css" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>

<script>
(function(d, s, id) {
	var js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return;
	js = d.createElement(s); js.id = id;
	js.src = "//connect.facebook.net/nb_NO/sdk.js#xfbml=1&version=v2.4";
	fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<script>

	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	ga('create', 'UA-3916590-3', 'auto');
	ga('send', 'pageview');

</script>
</head>

<body>
	<div id="header">
		<div id="statistikk">
		<!-- <img src='fig/statistic.png' width='30px' align='left'> -->
		<a href='index.html'>LITT STATISTIKK:</a><br>
		<a href='stat02.html'>{{tot_antall_besteget}}/429 kommuner</a><br>
		<a href='stat06.html'>{{tot_tottid}} timer på tur</a><br>
		<a href='stat04.html'>{{tot_length}} kilometer</a><br>
		<a href='stat14.html'>{{tot_elevation}} høydemeter</a></a>
		</div>
		<div id="turrapporter">
		<!-- <img src='fig/report.png' width='30px' align='left'> -->
		NOEN TURRAPPORTER:<br>
		{{siste_rapporter}}
		</div>
		<div id="search">
		<img src='fig/search2.png' width='30px' align='left'>
		<form name="searchform">
		Fylke:<br>
		<select name="textbox_id1" id="textbox_id1" onchange="updateTextBox2(this.selectedIndex)">
		{{select_fylkeliste}}
		</select>
		<br>
		Kommune:<br>
		<select name="textbox_id2" id="textbox_id2" size="1" onchange="goToNewPage(this.options[this.options.selectedIndex].value)">
		</select>
		</form>
		</div>
		<div id="banner">
		<img src='fig/banner-logo3.png'>
		</div>
	</div>

	<div id="main">
	<hr>
	</div>
	
	<div id="main">
		<div id="article">
			<div id="articleheader">
			{{topp}} ({{hoyde2}}moh)
			<a href="{{neste_kommune}}.html">
			<img src='fig/right.png' align='right'></a>
			<a href="{{forrige_kommune}}.html">
			<img src='fig/left.png' align='right'></a></div>
			<div id="articlestat">
			KOMMUNE: {{kommunenavn}}
			</div>
			<div id="articlestat">
			DATO: {{dateandtime}}
			</div>
			<div id="articleintro">
			{{topp}}
			</div>
			<div id="articletekst">
			{{beskrivelse}}
			</div>
			<div id="articlemap">
			<div id="map">
			</div>
			</div>
			<div id="articleprofile">
			<img src='profile2/{{kommunenr}}.png' width='99%' align='left' onerror="this.src='fig/fjell-error1.png'">

			<div class="fb-comments" data-href="http://www.vingerhagen.com/topp/{{kommunenr}}.html" data-width="640" data-numposts="5">
			</div>
		</div>
		
		<div id="pic">
			<img src='img/{{kommunenr}}.jpg' width='360'>
			<div id="pictekst">
			----
			</div>
		
			<div id="picstat">
			GPS Statistikk<br>
			<hr>
			<table width='100%'>
			<tr>
			<td><b>Tur info</b></td><td align='left'></td><td align='right'></td></tr><tr>
			<td align='left'>{{length}} km </td>
			<td align='center'> {{walk_time}} t </td>
			<td align='right'>{{avg_speed}} km/t </td>
			</tr>
			</table>
			<hr>
			
			<table width='100%'>
			<tr><td>Pauser:</td><td align='right'>{{stop_time}} t</td><td align='right'><i>(22)</i></td></tr>
			<tr><td>Pausefaktor:</td><td align='right'>{{pause_faktor}}% </td><td align='right'><i>(38)</i></td></tr>
			<tr><td>Høydeforskjell:</td><td align='right'>{{elediff}} m</td><td align='right'><i>(14)</i></td></tr>
			<tr><td>Total stigning:</td><td align='right'>{{climbing}} m</td><td align='right'><i>(13)</i></td></tr>
			<tr><td>Bratthet:</td><td align='right'> {{steepness}} m/km</td><td align='right'><i>(7)</i></td></tr>
			<tr><td>Høydemeter pr min:</td><td align='right'> {{climbingrate}} m/min</td><td align='right'><i>(23)</i></td></tr>
			<tr><td>Kuperthetsfaktor:</td><td align='right'> {{kupert_faktor}} </td><td align='right'><i>(34)</i></td></tr>
			<tr><td>Toppturfaktor:</td><td align='right'> {{topptur_faktor}} %</td><td align='right'><i>(40)</i></td></tr>
			</table></div>
		</div>
	</div>

</body>

<script>
var kommuner = new Array();
{{select_kommuneliste}}


var kommunelist = document.searchform.textbox_id2;
var fylkenr = document.getElementById("textbox_id1").selectedIndex;
updateTextBox2(fylkenr);

function updateTextBox2(selectedfylke) {
	kommunelist.options.length=0;

	if (selectedfylke>0){
		for (i=0; i<kommuner[selectedfylke].length; i++)
			kommunelist.options[kommunelist.options.length] = new Option(kommuner[selectedfylke][i].split("|")[0],kommuner[selectedfylke][i].split("|")[1]);
    }
}

</script>

<script>
	function goToNewPage(kommunenummer) {
		window.open(kommunenummer+".html","_self");
	}
</script>

<script>
var myWalk = {
    "color": "#996633",
    "weight": 2,
    "opacity": 1,
	"dashArray": "5,10"
};

var myCycle = {
    "color": "#1E90FF",
    "weight": 2,
    "opacity": 1,
};

var mySki = {
    "color": "#FFA500",
    "weight": 2,
    "opacity": 1,

};

var IconTop = L.icon({
	iconUrl: 'fig/flag-icon-51.png',
	iconSize: [46, 51],
	iconAnchor: [2, 48],
});

var myIconStop = L.icon({
	iconUrl: 'fig/flag-pause-32.png',
	iconSize: [32, 32],
	iconAnchor: [14, 29],
});


var map = L.map('map').setView([{{lat}},{{lng}}], 13);
L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
	maxZoom: 18,
	id: 'gjermv.5ad98fd6',
	accessToken: 'pk.eyJ1IjoiZ2plcm12IiwiYSI6IjM5N2EwZjkxZDA5MTIxYTI1MjI0MGFiZDJmNzhmMmE4In0.y2ULEYqhR4rXG4x5EbVK-Q'
}).addTo(map);

toppMarker = L.marker([{{lat}},{{lng}}],{icon: IconTop});
toppMarker.addTo(map);

{{stoplocations}}
{{tripcoordinates}}

map.fitBounds([
    {{southwest}},
    {{northeast}}
]);
</script>
</html>